@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'kondorital';
  src: url('../assets/fonts/kondorital.ttf') format('truetype');
  src: url('../assets/fonts/kondorital.eot#iefix') format('embedded-opentype'),
        url('../assets/fonts/kondorital.woff2') format('woff2'),
        url('../assets/fonts/kondorital.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Global styles */
body {
  font-family: "Open-Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

h1, h2, h3 {
    font-family: kondorital;
    color: #333;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

a {
  color: #007bff;
  text-decoration: none;
}

/* Header */
header {
  @apply sticky top-0 w-full bg-gray-100 p-5 text-center shadow-md;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(70,65,232,1) 12%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(255,0,0,1) 88%);
}
header::after {
  background-image: url('../assets/honeycomb-shade.svg');
  background-repeat: no-repeat;
  
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  width: 16%;
  height: 150%;
  z-index: -1;
}

header::before {
  background-image: url('../assets/honeycomb-shade.svg');
  background-repeat: no-repeat;
  
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 16%;
  height: 150%;
  transform: rotate(180deg);
  z-index: -1;
}

header h1 {
  color: #fff;
    margin: 0;
    margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  @apply relative bg-transparent text-white font-semibold uppercase tracking-[1px] px-2.5 py-2.5;
}

nav ul li a:hover:after {
  background-color: #501ab6;
}

nav ul li a::after {
  /*skewed background*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewX(-15deg);
  background-color: grey;
  @apply transition-[background-color] duration-[0.3s];
}

.main-container {
    overflow-y: auto;
}

/* Sections */
section {
  padding: 40px;
  background-color: #fff;
  scroll-margin-top: 149px;
  overflow: initial;
}

section h2 {
  margin-top: 0;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Live Stream */
section#live-stream iframe {
  width: 100%;
  height: 400px;
}

/* Tickets */
section#tickets a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section#tickets a:hover {
  background-color: #0056b3;
}

/* Contact */
section#contact ul {
  list-style-type: none;
  padding: 0;
}

section#contact li {
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #f8f8f8;
  font-size: 14px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}