@import url(font-faces.css);
@import url(header.css);

/* Global styles */
body {
  font-family: "open-sauce", "Open-Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

h1, h2, h3 {
    font-family: kondorital;
    color: #333;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

a {
  color: #007bff;
  text-decoration: none;
}

.kondorital {
    font-family: kondorital;
}

.open-sauce {
    font-family: open-sauce;
}

.main-container {
  @apply flex flex-wrap justify-center items-start max-w-[390px] lg:max-w-[1440px];
    overflow-y: auto;
    background-color: #fff;
}

/* Sections */
section {
  @apply text-center w-[390px] lg:w-[720px];
  padding: 40px;
  background-color: #fff;
  scroll-margin-top: 149px;
  overflow: initial;
}

section h2 {
  margin-top: 0;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

section{
  @apply flex flex-col items-center;
}

/* Live Stream */
section#live-stream iframe {
  width: 100%;
  height: 400px;
}

/* Tickets */
section#live-stream a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Tickets */
section#tickets a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section#tickets a:hover {
  background-color: #0056b3;
}

/* Contact */
section#contact ul {
  list-style-type: none;
  padding: 0;
}

section#contact li {
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #f8f8f8;
  font-size: 14px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}